/* This a comment */
@import url(https://fonts.googleapis.com/css?family=Elsie);
@import url(https://fonts.googleapis.com/css?family=Clicker+Script);

p {
  line-height: 1.5em;
  font-size: 1em;
}

figcaption{
  /*font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: Helvetica, Georgia,  serif;*/
  font: normal 0.75em/1.5em Helvetica, Georgia,  serif;
  color: teal;
  text-align: right;
}
